{% extends "base.html" %}



{% block content %}
<div>
    <a href="{% url 'collaborateur-new' %}" class="btn btn-primary">Ajouter un collaborateur</a>
</div>
    <h1>Collaborateurs</h1>
    <a href="{% url 'collaborateur-new' %}">Ajouter un collaborateur</a>

    <ul>
        {% for collaborateur in collaborateurs %}
            <li>
                {{ collaborateur.prenom }} - {{ collaborateur.nom }}
                <a href="{% url 'collaborateur-update' collaborateur.pk %}">Modifier</a>
                <a href="{% url 'collaborateur-delete' collaborateur.pk %}">Supprimer</a>
            </li>
        {% empty %}
            <li>Aucun collaborateur enregistré.</li>
        {% endfor %}
    </ul>
{% endblock %}