{% extends "base.html" %}



{% block content %}
<div class="row">
    <a href="{% url 'affectation-new' %}" class="btn btn-primary">Ajouter une affectation</a>
    <div class="col col-4">
        <h1>Affectations</h1>
    </div>
    <div class="col col-6">
        <ul>
            {% for affectation in affectations %}
                <li>
		    {{ affectation }}
                    <a href="{% url 'affectation-update' affectation.pk %}">Modifier</a>
                    <a href="{% url 'affectation-delete' affectation.pk %}">Supprimer</a>
                </li>
            {% empty %}
                <li>Aucune affectation enregistrée.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
