{% extends "base.html" %}

{% block content %}
    <h1>Collaborators</h1>
    <a href="{% url 'collaborator-new' %}">Add Collaborator</a>

    <ul>
        {% for collaborator in collaborators %}
            <li>
                {{ collaborator.first_name }} - {{ collaborator.last_name }}
                <a href="{% url 'collaborator-update' collaborator.pk %}">Modifier</a>
                <a href="{% url 'collaborator-delete' collaborator.pk %}">Supprimer</a>
            </li>
        {% empty %}
            <li>Aucun collaborateur enregistré.</li>
        {% endfor %}
    </ul>
{% endblock %}