<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <h1>Restaurants</h1>
        # WTF, this merely prints "Restaurant object (1)Restaurant object (2)"
        #      or <class 'dashboard.models.Restaurant'></class>     o_O
        {% for restaurant in Restaurant.objects.all %}
            <a href="{{ restaurant.get_absolute_url }}">
                {{ restaurant.name }}
            </a>"
            <ul id="restaurants">
                {{dir(restaurant)}}
                {{ restaurant.name }}
                {{ restaurant.address }}
                {{ restaurant.post_code }}
                {{ restaurant.city }}    
            </ul>
        {% endfor %}
    {% endblock %}
</body>
</html>